<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeLeaf.org"><!--Convertir la plantilla en thymeLeaf-->

<head th:include="usuario/template_user.html::head"></head>

<body>

	<!-- ======= Header ======= -->
	<div th:include="usuario/template_user.html::header"></div>
	<!-- End Header -->

	<!-- ======= Hero Section ======= -->
	<section>

	</section><!-- End Hero Section -->

	<main id="main">
		<!-- Page Content -->
		<div class="container">

			<!-- Jumbotron Header -->
			<header class="jumbotron my-4">
				<h1 class="display-3">Bienvenido a Spring eCommerce</h1>
				<p class="lead">Tienda de productos en Línea</p>
			</header>

			<!-- Page Features -->
			<div class="row text-center">

				<div class="col-lg-3 col-md-6 mb-4" th:each="producto: ${productos}">
					<div class="card h-100">
						<img class="card-img-top" th:src="@{/images/{img} (img=${producto.imagen})} " alt="">
						<div class="card-body">
							<p class="card-text" th:text="${producto.nombre}"></p>
						</div>
						<div class="card-footer">
							<a th:href="@{/productohome/{id} (id=${producto.id})}" class="btn btn-success">Ver
								producto</a>
						</div>
					</div>
				</div>


			</div>
			<!-- /.row -->

			<section id="menu" class="menu">
				<div class="container" data-aos="fade-up">

					<div class="section-header">
						<h2>eCommerce</h2>
						<p>Lista <span>de Porductos</span></p>
					</div>

					<ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="200">

						<li class="nav-item">
							<a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#menu-starters">
								<h4>Electrodomesticos</h4>
							</a>
						</li><!-- End tab nav item -->

						<li class="nav-item">
							<a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-breakfast">
								<h4>Breakfast</h4>
							</a><!-- End tab nav item -->

						<li class="nav-item">
							<a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-lunch">
								<h4>Lunch</h4>
							</a>
						</li><!-- End tab nav item -->

						<li class="nav-item">
							<a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-dinner">
								<h4>Dinner</h4>
							</a>
						</li><!-- End tab nav item -->

					</ul>

					<div class="tab-content" data-aos="fade-up" data-aos-delay="300">

						<div class="tab-pane fade active show" id="menu-starters">

							<div class="tab-header text-center">
								<p>Nuestros productos</p>
								<h3>Electrodomesticos</h3>
							</div>

							<div class="row gy-5">

								<div class="col-lg-4 menu-item" th:each="producto: ${productos}">
									<a th:href="@{/images/{img} (img=${producto.imagen})}" class="glightbox"><img
											th:src="@{/images/{img} (img=${producto.imagen})} "
											class="menu-img img-fluid" alt=""></a>
									<h4 th:text="${producto.nombre}"></h4>
									<p class="ingredients" th:text="${producto.descripcion}">
										Descripción
									</p>
									<p class="price">
										<a th:href="@{/productohome/{id} (id=${producto.id})}" class="btn btn-success">Ver
											producto</a>
									</p>
								</div><!-- Menu Item -->


							</div>
						</div><!-- End Starter Menu Content -->

						<div class="tab-pane fade" id="menu-breakfast">

							<div class="tab-header text-center">
								<p>Menu</p>
								<h3>Breakfast</h3>
							</div>

							<div class="row gy-5">

								<div class="col-lg-4 menu-item">
									<a href="assets/img/menu/menu-item-1.png" class="glightbox"><img
											src="assets/img/menu/menu-item-1.png" class="menu-img img-fluid" alt=""></a>
									<h4>Magnam Tiste</h4>
									<p class="ingredients">
										Lorem, deren, trataro, filede, nerada
									</p>
									<p class="price">
										$5.95
									</p>
								</div><!-- Menu Item -->

								<div class="col-lg-4 menu-item">
									<a href="assets/img/menu/menu-item-2.png" class="glightbox"><img
											src="assets/img/menu/menu-item-2.png" class="menu-img img-fluid" alt=""></a>
									<h4>Aut Luia</h4>
									<p class="ingredients">
										Lorem, deren, trataro, filede, nerada
									</p>
									<p class="price">
										$14.95
									</p>
								</div><!-- Menu Item -->

								<div class="col-lg-4 menu-item">
									<a href="assets/img/menu/menu-item-3.png" class="glightbox"><img
											src="assets/img/menu/menu-item-3.png" class="menu-img img-fluid" alt=""></a>
									<h4>Est Eligendi</h4>
									<p class="ingredients">
										Lorem, deren, trataro, filede, nerada
									</p>
									<p class="price">
										$8.95
									</p>
								</div><!-- Menu Item -->

								<div class="col-lg-4 menu-item">
									<a href="assets/img/menu/menu-item-4.png" class="glightbox"><img
											src="assets/img/menu/menu-item-4.png" class="menu-img img-fluid" alt=""></a>
									<h4>Eos Luibusdam</h4>
									<p class="ingredients">
										Lorem, deren, trataro, filede, nerada
									</p>
									<p class="price">
										$12.95
									</p>
								</div><!-- Menu Item -->

								<div class="col-lg-4 menu-item">
									<a href="assets/img/menu/menu-item-5.png" class="glightbox"><img
											src="assets/img/menu/menu-item-5.png" class="menu-img img-fluid" alt=""></a>
									<h4>Eos Luibusdam</h4>
									<p class="ingredients">
										Lorem, deren, trataro, filede, nerada
									</p>
									<p class="price">
										$12.95
									</p>
								</div><!-- Menu Item -->

								<div class="col-lg-4 menu-item">
									<a href="assets/img/menu/menu-item-6.png" class="glightbox"><img
											src="assets/img/menu/menu-item-6.png" class="menu-img img-fluid" alt=""></a>
									<h4>Laboriosam Direva</h4>
									<p class="ingredients">
										Lorem, deren, trataro, filede, nerada
									</p>
									<p class="price">
										$9.95
									</p>
								</div><!-- Menu Item -->

							</div>
						</div><!-- End Breakfast Menu Content -->

						<div class="tab-pane fade" id="menu-lunch">

							<div class="tab-header text-center">
								<p>Menu</p>
								<h3>Lunch</h3>
							</div>

							<div class="row gy-5">

								<div class="col-lg-4 menu-item">
									<a href="assets/img/menu/menu-item-1.png" class="glightbox"><img
											src="assets/img/menu/menu-item-1.png" class="menu-img img-fluid" alt=""></a>
									<h4>Magnam Tiste</h4>
									<p class="ingredients">
										Lorem, deren, trataro, filede, nerada
									</p>
									<p class="price">
										$5.95
									</p>
								</div><!-- Menu Item -->

								<div class="col-lg-4 menu-item">
									<a href="assets/img/menu/menu-item-2.png" class="glightbox"><img
											src="assets/img/menu/menu-item-2.png" class="menu-img img-fluid" alt=""></a>
									<h4>Aut Luia</h4>
									<p class="ingredients">
										Lorem, deren, trataro, filede, nerada
									</p>
									<p class="price">
										$14.95
									</p>
								</div><!-- Menu Item -->

								<div class="col-lg-4 menu-item">
									<a href="assets/img/menu/menu-item-3.png" class="glightbox"><img
											src="assets/img/menu/menu-item-3.png" class="menu-img img-fluid" alt=""></a>
									<h4>Est Eligendi</h4>
									<p class="ingredients">
										Lorem, deren, trataro, filede, nerada
									</p>
									<p class="price">
										$8.95
									</p>
								</div><!-- Menu Item -->

								<div class="col-lg-4 menu-item">
									<a href="assets/img/menu/menu-item-4.png" class="glightbox"><img
											src="assets/img/menu/menu-item-4.png" class="menu-img img-fluid" alt=""></a>
									<h4>Eos Luibusdam</h4>
									<p class="ingredients">
										Lorem, deren, trataro, filede, nerada
									</p>
									<p class="price">
										$12.95
									</p>
								</div><!-- Menu Item -->

								<div class="col-lg-4 menu-item">
									<a href="assets/img/menu/menu-item-5.png" class="glightbox"><img
											src="assets/img/menu/menu-item-5.png" class="menu-img img-fluid" alt=""></a>
									<h4>Eos Luibusdam</h4>
									<p class="ingredients">
										Lorem, deren, trataro, filede, nerada
									</p>
									<p class="price">
										$12.95
									</p>
								</div><!-- Menu Item -->

								<div class="col-lg-4 menu-item">
									<a href="assets/img/menu/menu-item-6.png" class="glightbox"><img
											src="assets/img/menu/menu-item-6.png" class="menu-img img-fluid" alt=""></a>
									<h4>Laboriosam Direva</h4>
									<p class="ingredients">
										Lorem, deren, trataro, filede, nerada
									</p>
									<p class="price">
										$9.95
									</p>
								</div><!-- Menu Item -->

							</div>
						</div><!-- End Lunch Menu Content -->

						<div class="tab-pane fade" id="menu-dinner">

							<div class="tab-header text-center">
								<p>Menu</p>
								<h3>Dinner</h3>
							</div>

							<div class="row gy-5">

								<div class="col-lg-4 menu-item">
									<a href="assets/img/menu/menu-item-1.png" class="glightbox"><img
											src="assets/img/menu/menu-item-1.png" class="menu-img img-fluid" alt=""></a>
									<h4>Magnam Tiste</h4>
									<p class="ingredients">
										Lorem, deren, trataro, filede, nerada
									</p>
									<p class="price">
										$5.95
									</p>
								</div><!-- Menu Item -->

								<div class="col-lg-4 menu-item">
									<a href="assets/img/menu/menu-item-2.png" class="glightbox"><img
											src="assets/img/menu/menu-item-2.png" class="menu-img img-fluid" alt=""></a>
									<h4>Aut Luia</h4>
									<p class="ingredients">
										Lorem, deren, trataro, filede, nerada
									</p>
									<p class="price">
										$14.95
									</p>
								</div><!-- Menu Item -->

								<div class="col-lg-4 menu-item">
									<a href="assets/img/menu/menu-item-3.png" class="glightbox"><img
											src="assets/img/menu/menu-item-3.png" class="menu-img img-fluid" alt=""></a>
									<h4>Est Eligendi</h4>
									<p class="ingredients">
										Lorem, deren, trataro, filede, nerada
									</p>
									<p class="price">
										$8.95
									</p>
								</div><!-- Menu Item -->

								<div class="col-lg-4 menu-item">
									<a href="assets/img/menu/menu-item-4.png" class="glightbox"><img
											src="assets/img/menu/menu-item-4.png" class="menu-img img-fluid" alt=""></a>
									<h4>Eos Luibusdam</h4>
									<p class="ingredients">
										Lorem, deren, trataro, filede, nerada
									</p>
									<p class="price">
										$12.95
									</p>
								</div><!-- Menu Item -->

								<div class="col-lg-4 menu-item">
									<a href="assets/img/menu/menu-item-5.png" class="glightbox"><img
											src="assets/img/menu/menu-item-5.png" class="menu-img img-fluid" alt=""></a>
									<h4>Eos Luibusdam</h4>
									<p class="ingredients">
										Lorem, deren, trataro, filede, nerada
									</p>
									<p class="price">
										$12.95
									</p>
								</div><!-- Menu Item -->

								<div class="col-lg-4 menu-item">
									<a href="assets/img/menu/menu-item-6.png" class="glightbox"><img
											src="assets/img/menu/menu-item-6.png" class="menu-img img-fluid" alt=""></a>
									<h4>Laboriosam Direva</h4>
									<p class="ingredients">
										Lorem, deren, trataro, filede, nerada
									</p>
									<p class="price">
										$9.95
									</p>
								</div><!-- Menu Item -->

							</div>
						</div><!-- End Dinner Menu Content -->

					</div>

				</div>
			</section><!-- End Menu Section -->

		</div>
		<!-- /.container -->
	</main><!-- End #main -->

	<!-- ======= Footer ======= -->
	<div th:include="usuario/template_user.html::footer"></div>
	<!-- End Footer -->

	<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
			class="bi bi-arrow-up-short"></i></a>

	<div id="preloader"></div>

	<div th:include="usuario/template_user.html::jsFiles"></div>

</body>

</html>